<h2 class="subheader">Hello, drunkards!</h2>
<p>Let us know of your favorite drink, so you can have two of them at your Birthday!</p>
<p>Cheers!</p>

<img src="https://github.com/everhooder/barflipflop/blob/master/app/assets/images/ff-drunkard.png?raw=true" /></a>
<br>

